<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, 
  user-scalable=0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png" sizes="16x16">
    <title>Services | Scrapeify</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a href="/home" class="navbar-brand ">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Brixo Logo">
            </a>
            <div class="nav_mobile_right">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#main_navbar"
                    aria-controls="main_navbar">
                    <i class="fa fa-bars menu_icon"></i>
                </button>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="main_navbar"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <a href="/home" class="navbar-brand">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Brixo Logo">
                    </a>
                    <i class="fa fa-times menu_icon" data-bs-dismiss="offcanvas" aria-label="Close"></i>
                </div>
                <div class="offcanvas-body my_menu">
                    <div class="forspace"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">Web-Scraper</a>
                        </li>
                        <li class="nav-item">
                            <a href="/chatbot" class="nav-link">AI chat-bot</a>
                        </li>
                        <li class="nav-item">
                            <a href="/services" class="nav-link active">Our services</a>
                        </li>
                        <li class="nav-item">
                          <a href="/custom-scrape" class="nav-link">Custom Web Scrape</a>
                      </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/services" class="nav-link bynow_btn">Buy Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- navbar end here-->
    <div class="for_margin_top"></div>
    <section class="gray_bg py_7">
      <div class="container px_2">
        <span class="section_tagline">Our Services</span>
        <h2 class="sub_heading">Your custom <span class="brand_color">beauty & fragrance </span> web-scraper <br> is just a click away! </h2>
        <h3 class="text-center third_heading mt-5">Choose between our Basic or Pro plan</h3>
        <div class="pricing_flex">
          <div class="pricing_card">
            <h3 class="pkg-name">Basic</h3>
            <div class="pkg-pricing text-center">
              <span class="dollr-sign">AED</span>
              <span class="big-pric">450</span>
            </div>
            <!-- pkg pricing end -->
            <div class="pkg-features">
              <p class="p_imp text-center"> Create a Custom but affordable Beauty & Fragrance web-scraper </p>
              <ul>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des">Get Data Scraped from 1 - 2 websites of your choice</span>
                </li>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des">Up to 2 revisions</span>
                </li>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des">Choose between 3 Data output types</span>
                </li>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des">10 - 15 days for Delivery Time</span>
                </li>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des">Simple interface included</span>
                </li>
              </ul>
              <a href="/basic" class="pricing-buttn">Select</a>
            </div>
            <!-- pkg features end -->
          </div>
          <!-- pricing  card end -->
          <div class="pricing_card">
            <h3 class="pkg-name">Pro</h3>
            <div class="pkg-pricing text-center">
              <span class="dollr-sign">AED</span>
              <span class="big-pric">899</span>
            </div>
            <!-- pkg pricing end -->
            <div class="pkg-features">
              <p class="p_imp text-center"> Get your very own Pro custom Beauty & Fragrance Web-scraper. </p>
              <ul>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des">Get Data Scraped From 3 - 5 Websites Of Your Choice</span>
                </li>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des">Up to 5 reworks/revisions to ensure your satisfaction</span>
                </li>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des">Various Output Types (Price, Ratings,Images,Availability)</span>
                </li>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des">Option to include extra data types of your choice</span>
                </li>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des"> Fast Delivery time of 5 days!</span>
                </li>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des"> Walk-through & Consultation for ease of usage</span>
                </li>
                <li>
                  <div>
                    <i class="fa fa-check icco"></i>
                  </div>
                  <span class="pri-des"> Website interface included!</span>
                </li>
              </ul>
              <a href="/pro" class="pricing-buttn">Select</a>
            </div>
            <!-- pkg features end -->
          </div>
          <!-- pricing card end -->
        </div>
        <!-- flex end -->
      </div>
      <!-- contiane end -->
    </section>
    <!-- section edn -->
    <footer>
      <div class="container px_2">
          <div class="row forflex">
              <div class="col-12 col-md-6 text-center text-md-start">
                  <p class="copyright_text">&copy <span id="currentYear"></span> All Rights Reserved by scrape-ify.com
                  </p>
              </div>
              <div class="col-12 col-md-6 text-center text-md-end">
                  <ul class="social_icons">
                      <li>
                          <a href="https://www.instagram.com/scrapeify.ae/">
                              <img src="{{ url_for('static', filename='images/instagram.png') }}" class="img-fluid social_icon" />
                          </a>
                      </li>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/in/scrapeify-ae-bb85232b9">
                              <img src="{{ url_for('static', filename='images/linkedin.png') }}" class="img-fluid social_icon" />
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js.js') }}"></script>
    <script src="{{ url_for('static', filename='js/proper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custome_script.js') }}"></script>
  </body>
</html>